<font size=6> Лабораторная работа №4</font> 
        
        
<font size=4> по предмету Математическая статистика

<font size=2> Вариант 1,2

<font size=2> Выполнил: Чукичев А.В. R3342
    
<font size=2> Проверил: Береговенко И.И.

## Задание 1

In [3]:
import pandas as pd
import numpy as np
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('cars93.csv')
df.head(3)

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90

In [5]:
df.describe()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
count,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,91.000000,82.000000,93.000000
mean,17.125806,19.509677,21.898925,22.365591,29.086022,2.667742,143.827957,5280.645161,2332.204301,16.664516,5.086022,183.204301,103.946237,69.376344,38.956989,27.829670,13.890244,3072.903226
std,8.746029,9.659430,11.030457,5.619812,5.331726,1.037363,52.374410,596.731690,496.506525,3.279370,1.038979,14.602382,6.819674,3.778986,3.223265,2.989072,2.997967,589.896510
min,6.700000,7.400000,7.900000,15.000000,20.000000,1.000000,55.000000,3800.000000,1320.000000,9.200000,2.000000,141.000000,90.000000,60.000000,32.000000,19.000000,6.000000,1695.000000
25%,10.800000,12.200000,14.700000,18.000000,26.000000,1.800000,103.000000,4800.000000,1985.000000,14.500000,4.000000,174.000000,98.000000,67.000000,37.000000,26.000000,12.000000,2620.000000
50%,14.700000,17.700000,19.600000,21.000000,28.000000,2.400000,140.000000,5200.000000,2340.000000,16.400000,5.000000,183.000000,103.000000,69.000000,39.000000,27.500000,14.000000,3040.000000
75%,20.300000,23.300000,25.300000,25.000000,31.000000,3.300000,170.000000,5750.000000,2565.000000,18.800000,6.000000,192.000000,110.000000,72.000000,41.000000,30.000000,15.000000,3525.000000
max,45.400000,61.900000,80.000000,46.000000,50.000000,5.700000,300.000000,6500.000000,3755.000000,27.000000,8.000000,219.000000,119.000000,78.000000,45.000000,36.000000,22.000000,4105.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        93 non-null     object
 1   Model               93 non-null     object
 2   Type                93 non-null     object
 3   Min.Price           93 non-null     float64
 4   Price               93 non-null     float64
 5   Max.Price           93 non-null     float64
 6   MPG.city            93 non-null     int64
 7   MPG.highway         93 non-null     int64
 8   AirBags             59 non-null     object
 9   DriveTrain          93 non-null     object
 10  Cylinders           93 non-null     object
 11  EngineSize          93 non-null     float64
 12  Horsepower          93 non-null     int64
 13  RPM                 93 non-null     int64
 14  Rev.per.mile        93 non-null     int64
 15  Man.trans.avail     93 non-null     object
 16  Fuel.tank.capacity  93 non-null     float64
 17  Passengers          93 non-null     int64
 18  Length              93 non-null     int64
 19  Wheelbase           93 non-null     int64
 20  Width               93 non-null     int64
 21  Turn.circle         93 non-null     int64
 22  Rear.seat.room      91 non-null     float64
 23  Luggage.room        82 non-null     float64
 24  Weight              93 non-null     int64
 25  Origin              93 non-null     object
 26  Make                93 non-null     object
dtypes: float64(7), int64(11), object(9)
memory usage: 19.7+ KB

Рассмотрим модель линейной регресси $$y=Xa+\varepsilon,$$ где $X$ - матрица независимых переменных, $a$ - вектор коэффициентов $\varepsilon$ - вектор ошибок. По заданию, независимые переменные:
- расход в городе
- расход на шоссе
- мощность (вместе со свободным коэффициентом)

In [8]:
y = df['Price']
X = df[['MPG.city', 'MPG.highway', 'Horsepower']]
X = np.column_stack((np.ones(X.shape[0]), X)) # столбец для свободного коэффициента

Оценим коэффициент с помощью МНКЖ $$ \hat{a} = (X^{T} X)^{-1} X^{T} y $$

In [10]:
a_h = np.linalg.inv(X.T @ X) @ X.T @ y
for i in range(len(a_h)):
    print(f'a_{i} Коэффициент: {a_h[i].round(2)}')

a_0 Коэффициент: 6.69
a_1 Коэффициент: -0.04
a_2 Коэффициент: -0.18
a_3 Коэффициент: 0.13

Вычислим остаточную дисперсию:$$\hat{\sigma}^2 = \frac{(y - Xa)^T(y - Xa)}{n-m},$$ где  $n$ - число наблюдений; $m$ - число параметров

In [12]:
y_pred = X @ a_h
n, m = X.shape  # количество наблюдений / параметров
sigma_h = (y - y_pred).T @ (y - y_pred) / (n - m) # оценка остаточной дисперсии
print("Остаточная дисперсия:", sigma_h)

Остаточная дисперсия: 35.69468573318615

Построим доверительные интервалы для коэффициентов. По следствию основной теоремы о линейной регрессии:$$(\hat{a}_i-a_i)\sqrt{\frac{n-m}{A_{ii}^{-1}(Y - Xa)^T(Y - Xa)}} \sim T(n-m), \space A = X^T\cdot X$$ Доверительный инетрвал: $$\hat{a} - t_{1 - \alpha/2} \sqrt{(y - Xa)^T(y - Xa) (X^TX)^{-1}} \leq a \leq \hat{a} + t_{1 - \alpha/2} \sqrt{(y - Xa)^T(y - Xa) (X^TX)^{-1}}$$

In [14]:
t = stats.t.ppf(1- 0.05/2, df=n-m)
A = np.diagonal(np.linalg.inv(X.T @ X))

# Границы интервалов (a, b)
a = a_h - t * np.sqrt(sigma_h * A)
b = a_h + t * np.sqrt(sigma_h * A)

for i in range(m):
  print(f'{a[i].round(3)}<=a_{i}<={b[i].round(3)}')

-5.21<=a_0<=18.588
-0.748<=a_1<=0.671
-0.884<=a_2<=0.526
0.099<=a_3<=0.163

Коэффициент детерминации:$$R^2 = 1 - \frac{\sum^n_{i=1}(y_i - \hat{y_i})^2}{\sum^n_{i=1}(y_i - \overline{y})^2}$$

In [16]:
R2 = 1 - (sigma_h * (n - m)) / (np.var(y) * (n - 1))
print(f'Коэффициент детерминации: R^2 = {R2}')

Коэффициент детерминации: R^2 = 0.6258912169214109

Теперь проверим гипотезы

1 Гипотеза:
- $H_0$: мощность не влияет на цену
- $H_1$: чем больше мощность, тем выше цена

In [19]:
alpha=0.05

t_hp = a_h[3] / (np.sqrt(sigma_h * A[3]))
p_value = 1 - stats.t.cdf(t_hp, df=n-m)

print(f'Статистика t-теста: {t_hp}, p-value = {p_value}')

if p_value > 0.05: print("Принимаем H0: мощность не влияет на цену")
else: print("Отклоняем H0: чем больше мощность, тем выше цена")

Статистика t-теста: 8.153012460969277, p-value = 1.053712672671736e-12
Отклоняем H0: чем больше мощность, тем выше цена

2 Гипотеза:
- $H_0$: Цена не зависит от расхода в городе
- $H_1$: Цена изменяется в зависимости от расхода в городе

In [21]:
alpha=0.05

t_city = a_h[1] / (np.sqrt(sigma_h * A[1]))
p_value = 2 * (1 - stats.t.cdf(abs(t_city), df=n-m))

print(f'Статистика t-теста: {t_city}, p-value = {p_value}')

if p_value > 0.05: print("Принимаем H0: расход в городе не влияет на цену")
else: print("Отклоняем H0: Цена изменяется в зависимости от расхода в городе")

Статистика t-теста: -0.10809771106497293, p-value = 0.9141615110843273
Принимаем H0: расход в городе не влияет на цену

3 Гипотеза:
- $H_0$: Коэффициенты при расходе в городе и расходе на шоссе равны нулю одновременно
- $H_1$: Коэффициенты при расходе в городе и расходе на шоссе не равны нулю одновременно

Проверять гипотезу будем с помощью F-теста: $$F=\frac{n-m}{k} \cdot \frac{S^2(\hat{c}_{T}) - S^2(\hat{c})}{ S^2(\hat{c})} \sim F_{k, n-m},$$ где $$S^2(c) = (y-Xc)^T(y-Xc)$$

In [23]:
R = np.array([[0, 1, 1, 0]]) #Матрица ограничений
a_restricted = R @ a_h
sigma_rest = R @ np.linalg.inv(X.T @ X) @ R.T
F = (a_restricted.T @ np.linalg.inv(sigma_rest) @ a_restricted / R.shape[0]) / sigma_h
p_value_F = 1 - stats.f.cdf(F, dfn=R.shape[0], dfd=X.shape[0] - X.shape[1])

print(f"F-статистика: {F}")
print(f"p-значение: {p_value_F}")

if p_value_F > 0.05: print("Принимаем H0")
else: print("Отклоняем H0")

F-статистика: 2.0239273748617954
p-значение: 0.15833383229497466
Принимаем H0

## Задание 2

Теперь рассмотрим датасет с данными о сдаче экзаменов. Проведем однофакторный дисперсионный анализ. Фактора - этническая/национальная группа, в Выходная переменная - суммарный балл за три экзамена.

In [26]:
df = pd.read_csv('exams_dataset.csv');
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,high school,standard,none,67,91,84
1,female,group D,some college,standard,none,63,63,67
2,female,group A,associate's degree,standard,completed,73,83,85
3,female,group C,associate's degree,standard,none,85,98,95
4,male,group B,bachelor's degree,standard,none,75,57,63

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [28]:
df['race/ethnicity'].unique() # получили 5 групп

array(['group B', 'group D', 'group A', 'group C', 'group E'],
      dtype=object)

In [29]:
df['total'] = df['math score'] + df['reading score'] + df['writing score']
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total
0,female,group B,high school,standard,none,67,91,84,242
1,female,group D,some college,standard,none,63,63,67,193
2,female,group A,associate's degree,standard,completed,73,83,85,241
3,female,group C,associate's degree,standard,none,85,98,95,278
4,male,group B,bachelor's degree,standard,none,75,57,63,195

Сгруппируем данные по национальной группе:

In [31]:
gr_df = df.groupby('race/ethnicity')['total'].agg(['mean', 'count'])
mu = df['total'].mean() # среднее по всей выборке

Гипотеза:
- $H_0$: Средние всех групп равны
- $H_1$: $\overline{H_0}$

Воспользуемся статистикой $F= \frac{MS_b}{MS_w} \sim  \mathcal{F}(k-1, N-k)$, где $MS_b$ - межгрупповая дисперсия, $MS_w$ - внутригрупповая дисперсия, $k$ - количество групп, $N$ - количество измерений.

$$MS_b = \frac{1}{k-1}\sum n_i (\overline{y_{j}}-\overline{y})^2$$
$$MS_w = \frac{1}{N-k}\sum\sum(y_{i,j}-\overline{y_{j}})^2$$

In [35]:
MSb = sum(gr_df['count'] * (gr_df['mean'] - mu)**2) / 4
MSw = sum(df.groupby('race/ethnicity')['total'].apply(lambda x: sum((x - x.mean())**2))) / 995

F = MSb / MSw # F-статистика
p_value = 1 - stats.f.cdf(F, 4, 995)

print(f'F-статистика: {F}')
print(f'p-value: {p_value}')

if p_value > 0.05: print("Принимаем H0")
else: print("Отклоняем H0")

F-статистика: 14.310814847588953
p-value: 2.303324198038581e-11
Отклоняем H0

Таким образом, мы выяснили, что средние групп не равны.